{%- extends "bootstrap/base.html" %}

{% block head %}
    {{super()}}

    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='ico/visiontale16.ico') }}">

    {% if title %}
    <title>{{ title }} - {{ app_name }}</title>
    {% else %}
    <title>Welcome to {{ app_name }}</title>
    {% endif %}

    {% block page_head %}{% endblock %}

{%- endblock %}

{% block styles -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-' + get_bootstrap_version() + '-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-' + get_bootstrap_version() + '-dist/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-' + get_fontawesome_version() + '-web/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-' + get_fontawesome_version() + '-web/css/solid.min.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block page_style %}{% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery/jquery-' + get_jquery_version() + '.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-' + get_bootstrap_version() + '-dist/js/bootstrap.js') }}"></script>

    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>

    {% block page_scripts %}{% endblock %}
{%- endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-expand-md navbar-dark bg-dark" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a class="navbar-brand" href="#">StreamHelper</a>
            <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                {% with pages = get_plugin_pages() %}
                {% if pages %}
                    {% for page in pages %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for(page[1]) }}">{{ page[0] }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}