body {
    background-color: #161616 !important;
    color: #1b8fb1 !important;
}

.navbar, .jumbotron, .btn, .btn:hover, .card-header, .card-body, .input-group-append, .input-group-text,
    .custom-file-label, .custom-file-label::after, input, img, .custom-select {
    background-color: #1f202d !important;
    color: #1b8fb1 !important;
    border-color: #010101 !important;
}

.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.jumbotron {
    position: relative;
}

@media screen and (max-width: 767px) {
    .fixed_button {
        position: relative;
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (min-width: 768px) {
    .fixed_button {
        position: absolute;
        right: 3vh;
        top: 2vw;
    }
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(224, 52, 18, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(224, 52, 18, 0.6);
    outline: 0 none;
}

.btn:hover, .custom-select:focus {
    border-color: rgba(224, 52, 18, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(224, 52, 18, 0.6);
    outline: 0 none;
}