body {
    background-color: #161616 !important;
    color: #1b8fb1 !important;
}

.navbar, .jumbotron, .btn, .btn:hover, .card-header, .card-body, .input-group-append, .input-group-text,
    .custom-file-label, .custom-file-label::after, input, img {
    background-color: #1f202d !important;
    color: #1b8fb1 !important;
    border-color: #161616 !important;
}

.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.jumbotron {
    position: relative;
}

@media screen and (max-width: 767px) {
    .fixed_button {
        position: relative;
        width: 96%;
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media screen and (min-width: 768px) {
    .fixed_button {
        position: absolute;
        right: 3vh;
        top: 2vw;
    }
}