<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        <!-- <link rel="icon" type="image/ico" href="/favicon.ico"> -->

        {% if title %}
        <title>{{ title }} - {{ app_name }}</title>
        {% else %}
        <title>Welcome to {{ app_name }}</title>
        {% endif %}
    </head>
    <body>
        <header>
        {{ app_name }}:
            <nav>
                <ul>
                    <li>
                        <a href="/index">Home</a>
                    </li>
                    <li>
                        <a href="/settings">Settings</a>
                    </li>
                </ul>
            </nav>
        </header>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>