{%- extends "bootstrap/base.html" %}

{% block head %}
    {{super()}}

    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='ico/visiontale16.ico') }}">

    {% if title %}
    <title>{{ title }} - {{ app_name }}</title>
    {% else %}
    <title>Welcome to {{ app_name }}</title>
    {% endif %}

    {% block page_head %}{% endblock %}

{%- endblock %}

{% block styles -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='frameworks/css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block page_style %}{% endblock %}
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='frameworks/js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='frameworks/js/bootstrap.js') }}"></script>

    {% block page_scripts %}{% endblock %}
{%- endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if current_user.username %}
    <a class="navbar-brand" href="#">StreamHelper ({{ current_user.username }})</a>
    {% else %}
    <a class="navbar-brand" href="#">StreamHelper</a>
    {% endif %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{ url_for('user.login') }}">Login</a>
                {% else %}
                <a class="nav-link" href="{{ url_for('user.logout') }}">Logout</a>
                {% endif %}
            </li>
            {% with pages = get_plugin_pages() %}
                {% if pages %}
                    {% for page in pages %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for(page[1]) }}">{{ page[0] }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}