{%- extends "bootstrap/base.html" %}

{% block head %}
    {{super()}}

    <!-- <link rel="icon" type="image/ico" href="/favicon.ico"> -->

    {% if title %}
    <title>{{ title }} - {{ app_name }}</title>
    {% else %}
    <title>Welcome to {{ app_name }}</title>
    {% endif %}
{%- endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <ul>
        <li>
            {{ current_user.username }}
        </li>
            <li>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li>
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </li>
            <li>
                <a href="{{ url_for('settings') }}">Settings</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}