requests~=2.25.1
waitress~=2.0.0
Werkzeug~=1.0.1
flask~=1.1.2
python-dotenv~=0.15.0
flask-wtf~=0.14.3
WTForms~=2.3.3
WTForms-Components~=0.10.4
colour~=0.1.5
flask-bootstrap~=3.3.7.1
validators~=0.18.2
pytest~=6.2.1
sphinx~=3.3.1