{% extends "base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Error 500 - You have destroyed it, congratulations! That means more work for me..</h1>
            <p class="lead">How about this. You just forget what you saw, and therefore, I haven't to fix anything. Deal? No..? Okay, you know what, fine, anyway, chances are high that the error was produced by a plugin. If not, reach out to me on GitHub and I try to fix it.</p>
        </div>
    </div>
{% endblock %}